messages: [
  "The use of fontforge-of-ocaml library requires python3."
  {! conf-python-3:installed}
]
post-messages: [
  "On Ubuntu, the use of fontforge-of-ocaml library requires python3-fontforge package."
]
